#logo {
    text-align: center;
    padding: 6px;
    height: 70px;
  }

#ticket {
    text-align: center;
    padding: 6px;
}

#button {
  padding-top: 6px;
  padding-left: 75%;
}
.logo2 {
  position: absolute;
}
ion-button.zap {
  --background: #25D366;
  --background-hover: #25D366;
  --background-activated: #25D366;
  --background-focused: #25D366;
  --color: #FFFFFF;
  --border-radius: 5px;
  width: 120px;
}

.custom-list {
  max-height: 420px;
  overflow-y: auto;
  padding: 0;
  margin-top: 9px;
}

ion-button.buscar{
  width: 100px;
}