#logo {
    text-align: center;
    padding: 6px;
    height: 70px;
  }

#ticket {
    text-align: center;
    padding: 6px;
}

#button {
  padding-top: 6px;
  padding-left: 75%;
}
.logo2 {
  position: absolute;
}