<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <div>
      <div>
        <ion-searchbar color="light" [(ngModel)]="formulario.valor" placeholder="Pesquisar"></ion-searchbar>
        <ion-button class="buscar" expand="block" color="dark" (click)="escrevedados()">Buscar</ion-button>
      </div>

      <ion-list class="custom-list">
        <ion-item *ngFor="let product of lista">
          <ion-avatar item-left>
            <img src="{{product.imagem}}" />
          </ion-avatar>
          <ion-label>
            <h2>&nbsp;&nbsp;{{product.nome}}</h2>
            <p>&nbsp;&nbsp;{{product.categoria}}</p>
            <p><ion-button class="zap"  [href]="'https://wa.me/' + product.telefone + '?text=Boa+Tarde%21+Gostaria+de+fazer+um+pedido%2C+poderia+me+enviar+o+card%C3%A1pio+por+favor%3F'">
              <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
              WhatsApp
            </ion-button></p>
            
          </ion-label>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
  <div>
    <ion-list lines="full">
      <ion-item href="home">
        <ion-label>Inicio</ion-label>
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-item>
      <ion-item href="cadastro">
        <ion-label>Registre-se</ion-label>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      </ion-item>
      <ion-item href="suporte">
        <ion-label>Suporte</ion-label>
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
      </ion-item>
      <ion-item href="termos">
        <ion-label>Termos e condições</ion-label>
        <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
    <ion-buttons slot="start" class="logo2">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title id="logo">Sobre o App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-footer>
    <ion-toolbar>
      <ion-title id="footer">©</ion-title>
    </ion-toolbar>
  </ion-footer>

  <ion-content class="ion-padding" [fullscreen]="true">
  <div>
    <p id="sobre">Sobre o App

      O app Delivery, é uma plataforma de marketing gratuita para empresas de lanches independentes. Ao enviar seus dados para o aplicativo, e se forem aceitos, seu estabelecimento será listado com um contato direto para o WhatsApp.
      
      O diferencial deste aplicativo é que ele não possui vínculo com as empresas listadas, ou seja, não há taxas abusivas de uso e pedidos.<br> As empresas têm a liberdade de gerenciar seus pedidos de forma independente e sem custo. 
      
      Embora o aplicativo tenha suas regras, seu principal objetivo é fornecer um serviço de marketing eficaz e gratuito para empresas de lanches independentes.<br> É uma maneira de agradecer aos usuários por escolherem usar o aplicativo.<br>
      
      Esperamos que você encontre valor e sucesso ao usar este aplicativo. <br><br>Agradecemos por sua participação!</p>
  </div>
  </ion-content>
</div>
